<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'warehouses/css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
    <nav>
        {% for link in links %}
        <div class="drop">
            {% if not link.link.1 %}
                <p><a href="{% url link.link.0 %}" class="link">
                    {{ link.name }}
                </a></p>
            {% else %}
                {% with path=link.link.1%}
                <p><a href="{% url link.link.0 path%}" class="link">
                    {{ link.name }}
                </a></p>
                {% endwith %}
            {% endif %}
            {% for menu_link in link.menu %}
                {% with path=menu_link.link.1%}
                    <div class="dropContent link">
                        {% if not path%}
                            <p><a href="{% url menu_link.link.0 %}">{{menu_link.name}}</a></p>
                        {% else %}
                            <p><a href="{% url menu_link.link.0 path %}">{{menu_link.name}}</a></p>
                        {% endif %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        {% endfor %}
    </nav>
    <div class="loginShower" id="loginShower">
        <h3 id="vanishingInv" class="vanishingInv">contact</h3>
        <h1>Refurbish is responsibility.</h1>
        <div class="login" id="loginForm">
            {% include 'registration/reg_container.html' %}
        </div>
    </div>
    </header>
    <main>
        <section>
            <nav style="width: 15%; height: fit-content;">
                <div style="text-align: left; font-size: larger;">
                    <p class="link"><a href="{% url 'search' location|default:'ALL' %}">Search {{location}} Products</a></p>
                    <p class="link"><a href="{% url 'products' location|default:'ALL' %}">{{location}} products</a></p>
                    <div class="drop">
                    <p class="link"><a href="{% url 'filtered' location|default:'ALL' 'category' %}">Browse {{location}} products by category</a></p>
                        <p class="dropContent link"><a href="{% url 'filtered' location|default:'ALL' 'state' %}">Browse {{location}} products by state</a></p>
                    </div>
                </div>
            </nav>
            <div style="width: 25%; margin: 30px;">
                <h1>{{header_text}}</h1>
                {% for content in content_text %}
                    <h5 style="font-weight: 50;">{{content}}</h5>
                {% endfor %}
            </div>
            <div style="max-height: 70vh; overflow-y: auto; padding-right: 20px;">
                {% block content %}{% endblock %}
            </div>
        </section>
    </main>
    <footer>
        <p><a href="#link" class="link">Impressum</a></p>
        <p><a href="#link" class="link">Copyright</a></p>
    </footer>
    <script src="{% static 'warehouses/scripts/script.js' %}"></script>
</body>
</html>