{% extends "main.html" %}
{% load custom_filters %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static style %}">
    <style>
        .italic-link {
          font-style: italic;
          font-size: smaller;
        }
    </style>
    <style>
        .bold-link {
          font-weight: bold;
          font-size: larger;
        }
    </style>
{% endblock %}
{% block content%}
    {% for item in content%}
        {% if item.category|ends_with_s %}
        <p><a href="{% url 'filtered_items' location 'state' item.state %}">{{item.state}}</a> <a href="{% url 'filtered_items' location 'category' item.category %}">{{item.category}}</a>.{% if user.is_authenticated %} </br><a href="{% url 'product_detail' item.pk %}" class="italic-link">(update here)</a>{% if user.is_staff %}</br><a href="{% url 'order' location item.state item.category %}" class="bold-link"> BUY</a>{% endif %}{% endif %}</p>
        {% else %}
        <p><a href="{% url 'filtered_items' location 'state' item.state %}">{{item.state|glue}}</a> <a href="{% url 'filtered_items' location 'category' item.category %}">{{item.category}}</a>.{% if user.is_authenticated %} </br><a href="{% url 'product_detail' item.pk %}" class="italic-link">(update here)</a>{% if user.is_staff %}</br><a href="{% url 'order' location item.state item.category %}" class="bold-link"> BUY</a>{% endif %}{% endif %}</p>
        {% endif %}
    {% endfor %}
    {% for link in content_links %}
        {% if filtered_by == 'category' %}
        <p><a href="{% url 'filtered_items' location 'category' link.category %}">{{link.category}}</a>.{% if link.count %} ({{link.count}} available) {% endif %}</p>
        {% elif filtered_by == 'name' %}
        <p><a href="{% url 'filtered_items' location 'state' link.state %}">{{link.state|glue}}</a> <a href="{% url 'filtered_items' location 'category' link.category %}">{{link.category}}</a>.{% if link.count %} ({{link.count}} available) {% endif %}{% if user.is_authenticated and user.is_staff %}</br><a href="{% url 'order' location link.state link.category %}" class="bold-link"> BUY</a>{% endif %}</p>
        {% else %}
        <p><a href="{% url 'filtered_items' location 'state' link.state %}">{{link.state}}</a>.{% if link.count %} ({{link.count}} available) {% endif %}</p>
        {% endif %}
    {% endfor %}
    {% if search_item %}
        <h3>{{search_prompt}}</h3>
        <input id="searchInput" type="text" placeholder="enter search term here" onkeydown="start_search(this)">
        <button onclick="search()">Search</button>
        <script>
            function start_search(element) {
                if(event.key === 'Enter') {
                    search()
                }
            }
            function search() {
                // Get the value from the search input
                var searchTerm = document.getElementById("searchInput").value;

                // Construct the URL with the search term
                var url = "{% url 'search_result' location|default:'ALL' 'SEARCHTERM' %}".replace("SEARCHTERM", encodeURIComponent(searchTerm));


                // Redirect the user to the search URL
                window.location.href = url;
            }
        </script>
    {% endif %}
{% endblock %}