{% extends "main.html" %}
{% load custom_filters %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static style %}">
{% endblock %}
{% block content%}
    {% for item in content%}
        {% if item.category|ends_with_s %}
        <p><a href="{% url 'category_items' location 'state' item.state %}">{{item.state}}</a> <a href="{% url 'category_items' location 'category' item.category %}">{{item.category}}</a>.</p>
        {% else %}
        <p><a href="{% url 'category_items' location 'state' item.state %}">{{item.state|glue}}</a> <a href="{% url 'category_items' location 'category' item.category %}">{{item.category}}</a>.</p>
        {% endif %}
    {% endfor %}
    {% for link in content_links %}
        <p><a href="{% url 'category_items' location 'category' link.category %}">{{link.category}}</a></p>
    {% endfor %}
{% endblock %}