body {
    background-color: rgb(66, 44, 1);
    background-image: url(../Pics/bewarehouse.jpeg);
}

main h1 {
    font-size: xx-large;
    color: rgba(237, 215, 172, 0.549);
    margin-right: 50px;
}

main section {
    margin-left: 21%;
    margin-right: 9%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    color: chartreuse;
}

.loginShower h3{
    color: chartreuse;
}

header {
    width: 59%;
}

@media screen and (min-width:800px) {
    main section p {
        font-size:medium;
    }
}