body {
    background-image: url(../Pics/awarehouse.jpeg);
}

header {
    width: 51%;
}

main section {
    margin-right: 15%;
    margin-top: 20px;
    margin-left: 30%;
    justify-content: center;
    text-align: start;
    font-size: x-large;
    color: rgb(255, 81, 0);
}

a {
    color: rgb(255, 81, 0);
}

.loginShower h3{
    color: rgb(255, 81, 0);
}

main h1 {
    color: rgba(237, 215, 172, 0.549);
}

@media screen and (min-width:800px) {
    main section p {
        font-size:medium;
    }
    main section {
        margin-right: 29%;
        margin-left: 10%;
    }
}