body {
    background-image: url(../Pics/awarehouse.jpeg);
}

header {
    width: 51%;
}

main section {
    margin-right: 29%;
    margin-top: 20px;
    justify-content: center;
    text-align: start;
    font-size: smaller;
}

main h1 {
    color: rgba(237, 215, 172, 0.549);
}

@media screen and (min-width:600px) {
    main section p {
        font-size:medium;
    }
}